* {
  box-sizing: border-box;
/*   box-sizing: content-box; */
  opacity: .95;
/*   padding: 0 !important;
  margin: 0 !important; */
}

body {
  width: 100vw;
  height: 100vh;
  padding-left: 4%;
  padding-top: 3%;
  padding-right: 2%;
  padding-bottom: 1%;
  margin-left: 3%;
  margin-top: 2%;
  margin-right: 4%;
  margin-bottom: 1%;
  background-color: whitesmoke;
}

body * {
  resize: both;
  overflow: scroll;
}

.outer {
  width: 87%; 
  height: 83%;
  padding-left: 3%;
  padding-top: 2%;
  padding-right: 4%;
  padding-bottom: 1%;
  margin-left: 1%;
  margin-top: 4%;
  margin-right: 3%;
  margin-bottom: 2%;
  border-top: 4px solid slategray;
  border-right: 7px solid slategray;
  border-bottom: 11px solid slategray;
  border-left: 17px solid slategray;
  background-color: rgba(240, 248, 255, 0.3);
}

.inner {
  width: 83%; 
  height: 90%;
  padding-left: 1%;
  padding-top: 5%;
  padding-right: 3%;
  padding-bottom: 2%;
  margin-left: 2%;
  margin-top: 4%;
  margin-right: 1%;
  margin-bottom: 3%;
  border-top: 7px solid lightgray;
  border-right: 4px solid lightgray;
  border-bottom: 17px solid lightgray;
  border-left: 11px solid lightgray;
  background-color: rgba(245, 245, 220, 0.3);

}

.form {
  width: 73%; 
  height: 80%;
  padding-left: 2%;
  padding-top: 4%;
  padding-right: 1%;
  padding-bottom: 3%;
  margin-left: 9%;
  margin-top: 4%;
  margin-right: 3%;
  margin-bottom: 2%;
  border-top: 17px solid lightslategrey;
  border-right: 11px solid lightslategrey;
  border-bottom: 7px solid lightslategrey;
  border-left: 3px solid lightslategrey;
  background-color: rgba(250, 235, 215, 0.3);
}

.input {
  position: relative;
  padding-left: 9%;
  padding-top: 4%;
  padding-right: 3%;
  padding-bottom: 2%;
  margin-left: 2%;
  margin-top: 4%;
  margin-right: 1%;
  margin-bottom: 3%;
  border-top: 7px solid lightgray;
  border-right: 4px solid lightgray;
  border-bottom: 17px solid lightgray;
  border-left: 11px solid lightgray;
}

.outer-observer,
.inner-observer,
.captured-rect {
  resize: none;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.outer-observer {
  outline: 1px solid red;
  color: slategray;
  background-color: rgba(255, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.captured-rect {
  outline: 1px solid green;
  background-color: rgba(0, 255, 0, .2);
}

.inner-observer {
  outline: 1px solid blue;
}

.range {
  resize: none;
  overflow: hidden;
  width: 400px;
}