html {
  --playground-width: max(40vw, 320px);
  --playground-height: 60vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans;
}

nav {
  display: flex;
  flex-grow: 1;
}

body {
  height: 200vh;
  background: linear-gradient(aliceblue, lightslategray);
  background-repeat: no-repeat;
}

h1 {
  width: fit-content;
  padding-inline: 8px;
  font-size: min(5vmin, 24px);
}

h2 {
  text-align: center;
  padding-block: 8px;
}

header {
  padding-inline: 6vw;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

.header {
  border-bottom: 1px solid #3083c9;
}

.nav {
  justify-content: flex-end;
}

.logo {
  display: block;
  width: min(8vmin, 32px);
  height: min(8vmin, 32px);
  background: url(./favicon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .5));
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: min(768px, 100%);
}

.nav-link {
  flex-grow: 1;
  list-style: none;
  padding-block: 4px;
  font-size: 18px;
  background: linear-gradient(135deg, aliceblue, 90%, lightslategray);
}

.nav-link:not(:nth-child(1)) {
  border-left: 1px solid slategray;
}

.nav-link a {
  display: block;

  color: rgb(41, 48, 53);
  text-decoration: none;
  text-align: center;
}

.tooltip {
  position: absolute;
  left: 0;
  top: 0;
  width: 130px;
  height: 100px;
  padding: 4px;

  font-size: 12px;
  line-height: 14px;
  text-indent: 4px;

  background: url(./speech-bubble-1.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .5));

  color: white;
}

.playground {
  margin: 0 auto;
  width: fit-content;
  position: relative;
}

.outer-container {
  position: relative;

  width: var(--playground-width);
  height: var(--playground-height);

  resize: both;
  overflow: scroll;

  border: 2px solid slategray;
  background-color: rgba(255, 255, 255, .3);
}

.playground .btn {
  position: absolute;
  bottom: 20px;
  height: 48px;
  width: 48px;
  border: none;
  background-position: center;
  background-size: contain;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .5));
  
  /* in order pointer events to work */
  touch-action: none;
}

.playground .btn.title-visible::after {
  position: absolute;
  width: max-content;
  content: attr(title);
  background-color: whitesmoke;
  transform: translate(-100%, -48px);
}

.playground .btn:active {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .5));
  transform: scale(.9);
}

.resize-btn {
  right: 20px;
  background: url(./resize.svg);
}

.undo-btn {
  right: 78px;
  background: url(./undo.svg);
}

.observed-element {
  margin: 150%;
  height: 24px;
  width: 120px;
  outline: 1px solid #447ebb;
  border: 1px solid #447ebb;
}

.description {
  width: fit-content;
  margin: 0 auto;
  padding: 8px;
}

.code {
  width: min(90vw, 450px);
  margin: 0 auto;
  font-size: min(3vmin, 14px);
}