* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

section {
  padding: 16px;
}

body {
  height: 200vh;
  background: linear-gradient(aliceblue, lightslategray);
  background-repeat: no-repeat;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: min(768px, 100%);
}

.nav-link {
  flex-grow: 1;
  list-style: none;
  padding-block: 4px;
  font-size: 18px;
  background: linear-gradient(135deg, aliceblue, 90%, lightslategray);
}

.nav-link:not(:nth-child(1)) {
  border-left: 1px solid slategray;
}

.nav-link a {
  display: block;

  color: rgb(41, 48, 53);
  text-decoration: none;
  text-align: center;
}

.tooltip {
  position: absolute;
  left: 0;
  top: 0;
  width: 130px;
  height: 100px;
  padding: 4px;

  font-size: 12px;
  line-height: 14px;
  text-indent: 4px;

  background: url(./speech-bubble-1.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .5));

  color: white;
}

.playground {
  margin: 0 auto;
  width: fit-content;
  position: relative;
}

.outer-container {
  position: relative;

  width: 80vw;
  height: 60vh;

  resize: both;
  overflow: scroll;

  border: 2px solid slategray;
  background-color: rgba(255, 255, 255, .3);
}

.resize-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 48px;
  width: 48px;
  border: none;
  background: url(./resize.svg);
  background-position: center;
  background-size: contain;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .5));
}

.resize-btn:active {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .5));
  transform: scale(.9);
}

.observed-element {
  margin: 150% 120% 160% 140%;
  height: 24px;
  width: 120px;
  outline: 1px solid #447ebb;
  border: 1px solid #447ebb;
}
